{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for minimax/h3/reference-to-video","version":"1.0.0","description":"The OpenAPI schema for the minimax/h3/reference-to-video queue.","x-fal-metadata":{"endpointId":"minimax/h3/reference-to-video","category":"image-to-video","thumbnailUrl":"https://v3b.fal.media/files/b/0aa42dcf/3VDKabd7ifjCezrQpdfEI.jpg","playgroundUrl":"https://fal.ai/models/minimax/h3/reference-to-video","documentationUrl":"https://fal.ai/models/minimax/h3/reference-to-video/api","about":"Reference To Video Hailuo 03"}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"H3ReferenceToVideoInput":{"x-fal-order-properties":["prompt","duration","resolution","seed","enable_safety_checker","sync_mode","prompt_expansion_mode","aspect_ratio","reference_image_urls","reference_video_urls","reference_audio_urls"],"properties":{"enable_safety_checker":{"description":"If set to true, the safety checker will be enabled.","default":true,"title":"Enable Safety Checker","type":"boolean"},"aspect_ratio":{"description":"The aspect ratio of the generated video.","default":"adaptive","title":"Aspect Ratio","type":"string","enum":["adaptive","21:9","16:9","4:3","1:1","3:4","9:16"]},"reference_image_urls":{"examples":[["https://storage.googleapis.com/falserverless/example_inputs/hailuo23/pro_i2v_in.jpg"]],"maxItems":9,"type":"array","title":"Reference Image URLs","description":"URLs of subject/style reference images, referenced in the prompt as Image 1, Image 2, and so on. Reference images, videos, and audio clips must add up to at most 12 files.","items":{"type":"string"}},"sync_mode":{"description":"Return the generated video as base64 instead of a CDN URL.","default":false,"title":"Sync Mode","type":"boolean"},"reference_video_urls":{"maxItems":3,"type":"array","title":"Reference Video URLs","description":"URLs of motion/reference video clips (2-15 seconds each, combined duration at most 15 seconds), referenced in the prompt as Video 1, Video 2, and so on. Reference images, videos, and audio clips must add up to at most 12 files.","items":{"type":"string"}},"resolution":{"description":"The resolution of the generated video. 480P and 768P are native generation modes; 2K and 4K upscale a 768P base result.","default":"2K","title":"Resolution","type":"string","enum":["480P","768P","2K","4K"]},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"Random seed. A random seed is selected when omitted.","title":"Seed"},"prompt":{"examples":["Image 1 is the female protagonist. Image 2 is her small dog. Keep the woman and dog consistent with their respective reference images while they walk together through a sunlit garden."],"minLength":1,"type":"string","title":"Prompt","description":"Text prompt for video generation. Refer to reference assets by their modality and order in the reference lists: Image 1, Image 2, Video 1, Audio 1, and so on.","maxLength":50000},"reference_audio_urls":{"maxItems":3,"type":"array","title":"Reference Audio URLs","description":"URLs of reference audio clips (2-15 seconds each, combined duration at most 15 seconds), referenced in the prompt as Audio 1, Audio 2, and so on. Images, videos, and audio can be provided individually or together. Reference images, videos, and audio clips must add up to at most 12 files.","items":{"type":"string"}},"prompt_expansion_mode":{"examples":["disabled","fast","balanced","quality"],"anyOf":[{"type":"string"},{"type":"null"}],"description":"How much effort to spend rewriting the prompt before generation. 'disabled' skips prompt expansion. 'fast' returns in about a second. 'balanced' picks per request. 'quality' spends up to ~30s on a richer prompt.","default":"balanced","title":"Prompt Expansion Mode"},"duration":{"minimum":5,"description":"The duration of the video in seconds.","default":5,"title":"Duration","maximum":15,"type":"integer"}},"type":"object","title":"ReferenceToVideoHailuo03Input","required":["prompt"]},"H3ReferenceToVideoOutput":{"x-fal-order-properties":["video","expanded_prompt"],"properties":{"expanded_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The prompt after expansion, as sent to the model. Null when prompt expansion was disabled, left the prompt unchanged, or was performed internally by MiniMax's hosted API.","title":"Expanded Prompt"},"video":{"$ref":"#/components/schemas/File","description":"The generated video"}},"type":"object","title":"ReferenceToVideoHailuo03Output","required":["video"]},"File":{"x-fal-order-properties":["url","content_type","file_name","file_size"],"properties":{"file_size":{"examples":[4404019],"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The size of the file in bytes.","title":"File Size"},"url":{"description":"The URL where the file can be downloaded from.","type":"string","title":"Url"},"content_type":{"examples":["image/png"],"anyOf":[{"type":"string"},{"type":"null"}],"description":"The mime type of the file.","title":"Content Type"},"file_name":{"examples":["z9RV14K95DvU.png"],"anyOf":[{"type":"string"},{"type":"null"}],"description":"The name of the file. It will be auto-generated if not provided.","title":"File Name"}},"type":"object","title":"File","required":["url"]}}},"paths":{"/minimax/h3/reference-to-video/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/minimax/h3/reference-to-video/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/minimax/h3/reference-to-video":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/H3ReferenceToVideoInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/minimax/h3/reference-to-video/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/H3ReferenceToVideoOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}