{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/index-tts-2/text-to-speech","version":"1.0.0","description":"The OpenAPI schema for the fal-ai/index-tts-2/text-to-speech queue.","x-fal-metadata":{"endpointId":"fal-ai/index-tts-2/text-to-speech","category":"text-to-speech","thumbnailUrl":"https://v3b.fal.media/files/b/lion/Y_c2YQvO2F3F-Q3v8cMHr_e14577c0c33b4eca81ce5ebeb2a5ca49.jpg","playgroundUrl":"https://fal.ai/models/fal-ai/index-tts-2/text-to-speech","documentationUrl":"https://fal.ai/models/fal-ai/index-tts-2/text-to-speech/api","about":"Generate"}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"IndexTts2TextToSpeechInput":{"type":"object","title":"IndexTTS2Input","x-fal-order-properties":["audio_url","prompt","emotional_audio_url","strength","emotional_strengths","should_use_prompt_for_emotion","emotion_prompt"],"required":["audio_url","prompt"],"properties":{"prompt":{"type":"string","title":"Prompt","description":"The speech prompt to generate","examples":["Hide! He's coming! He's coming to get us!"]},"audio_url":{"type":"string","title":"Audio Url","description":"The audio file to generate the speech from.","examples":["https://storage.googleapis.com/falserverless/example_inputs/index-tts-2/tts_in.mp3"]},"emotion_prompt":{"title":"Emotion Prompt","anyOf":[{"type":"string"},{"type":"null"}],"description":"The emotional prompt to influence the emotional style. Must be used together with should_use_prompt_for_emotion.","examples":["You scared me to death! What are you, a ghost?"]},"strength":{"type":"number","title":"Strength","minimum":0,"maximum":1,"default":1,"description":"The strength of the emotional style transfer. Higher values result in stronger emotional influence."},"emotional_audio_url":{"title":"Emotional Audio Url","anyOf":[{"type":"string","ui":{"field":"audio"}},{"type":"null"}],"description":"The emotional reference audio file to extract the style from."},"should_use_prompt_for_emotion":{"title":"Should Use Prompt For Emotion","anyOf":[{"type":"boolean"},{"type":"null"}],"default":false,"description":"Whether to use the `prompt` to calculate emotional strengths, if enabled it will overwrite the `emotional_strengths` values. If `emotion_prompt` is provided, it will be used to instead of `prompt` to extract the emotional style.","examples":[true]},"emotional_strengths":{"anyOf":[{"$ref":"#/components/schemas/EmotionalStrengths"},{"type":"null"}],"description":"The strengths of individual emotions for fine-grained control. ","examples":[null]}}},"IndexTts2TextToSpeechOutput":{"type":"object","title":"IndexTTS2Output","x-fal-order-properties":["audio"],"required":["audio"],"properties":{"audio":{"$ref":"#/components/schemas/File","description":"The generated audio file in base64 format.","examples":["https://storage.googleapis.com/falserverless/example_outputs/index-tts-2/tts_out.mp3"]}}},"EmotionalStrengths":{"type":"object","title":"EmotionalStrengths","x-fal-order-properties":["happy","angry","sad","afraid","disgusted","melancholic","surprised","calm"],"properties":{"surprised":{"type":"number","title":"Surprised","minimum":0,"maximum":1,"default":0,"description":"Strength of surprise emotion"},"melancholic":{"type":"number","title":"Melancholic","minimum":0,"maximum":1,"default":0,"description":"Strength of melancholic emotion"},"calm":{"type":"number","title":"Calm","minimum":0,"maximum":1,"default":0,"description":"Strength of calm emotion"},"afraid":{"type":"number","title":"Afraid","minimum":0,"maximum":1,"default":0,"description":"Strength of fear emotion"},"sad":{"type":"number","title":"Sad","minimum":0,"maximum":1,"default":0,"description":"Strength of sadness emotion"},"angry":{"type":"number","title":"Angry","minimum":0,"maximum":1,"default":0,"description":"Strength of anger emotion"},"happy":{"type":"number","title":"Happy","minimum":0,"maximum":1,"default":0,"description":"Strength of happiness emotion"},"disgusted":{"type":"number","title":"Disgusted","minimum":0,"maximum":1,"default":0,"description":"Strength of disgust emotion"}}},"File":{"type":"object","title":"File","x-fal-order-properties":["url","content_type","file_name","file_size"],"required":["url"],"properties":{"file_size":{"title":"File Size","anyOf":[{"type":"integer"},{"type":"null"}],"description":"The size of the file in bytes.","examples":[4404019]},"content_type":{"title":"Content Type","anyOf":[{"type":"string"},{"type":"null"}],"description":"The mime type of the file.","examples":["image/png"]},"url":{"type":"string","title":"Url","description":"The URL where the file can be downloaded from."},"file_name":{"title":"File Name","anyOf":[{"type":"string"},{"type":"null"}],"description":"The name of the file. It will be auto-generated if not provided.","examples":["z9RV14K95DvU.png"]}}}}},"paths":{"/fal-ai/index-tts-2/text-to-speech/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/index-tts-2/text-to-speech/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/index-tts-2/text-to-speech":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexTts2TextToSpeechInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/index-tts-2/text-to-speech/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndexTts2TextToSpeechOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}